<div class="sixteen columns">
    <h4> Schedule for WW: <%= @workweek %> </h4>
Dates: <%= @today %> - <%= @today.next_day(27)%>
<table id="schedule" class="display" cellspacing="0" width="100%">
        <%= render partial: 'scheduleHeader' %>
    <tbody>
        <%= render partial: 'scheduleDetails', collection: @grids %>
    </tbody>
</table>
</div>

