<div class="sixteen columns">
    <h4> Schedule for WW: <%= @workweek %> </h4>
Dates: <%= @today %> - <%= @today.next_day(27)%>
<table id="schedule" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Position</th>
          <% (0..27).each do |d| %>
              <th>
                  <%= @today.next_day(d).strftime("%a-%m/%d/%y")%>
              </th>
          <% end %>

        </tr>
    </thead>
    <tbody>
        <%= render :partial => 'scheduleDetails' %>
    </tbody>
</table>
</div>

