<!DOCTYPE html>
<html>
<head>
  <title>Care Scheduler</title>


	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Your Page Title Here :)</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<%= stylesheet_link_tag"base"%>
	<%= stylesheet_link_tag"skeleton"%>
	<%= stylesheet_link_tag"layout"%>
    
    <%= javascript_include_tag "jquery-1.10.2.js" %>
    <%= javascript_include_tag "jquery-ui-1.10.4.min.js" %>
    
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
  
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>
<body>
    
	<div class="container">
		<div class="sixteen columns">
            <img src="/images/banner.png" alt="care scheduler"> 
			<hr />
    
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
</div>
<%= yield %>

<div class="sixteen columns">
    <hr />
    <a href="/main/" class="button">Home</a>
    <a href="/log_out/" class="button">Logout</a>
    &copy James Hughes 2014
</div>
</div>
<%= javascript_include_tag "myscripts.js" %>
<!-- <%= javascript_include_tag "application.js" %> -->

</body>
</html>
